@use 'styles/helpers/mixins' as *;

.tariff-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    &__cards {
        display: flex;
        flex-direction: row;
        gap: 1em;

        > * {
            flex: 1 1 0;
        }

        @include mobile {
            flex-direction: column;

            > * {
                flex: none;
                width: 100%;
            }
        }
    }
}