@use 'styles/helpers/variables';

.faq-item {
    background-color: var(--color-core-gray-000);
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 
        0.91px 2.72px 6.35px 0px var(--color-shadow-card-first),
        3.63px 10.89px 11.79px 0px var(--color-shadow-card-first),
        8.16px 24.49px 15.42px 0px var(--color-shadow-card-second),
        14.51px 43.54px 18.14px 0px var(--color-shadow-card-three),
        21.77px 68.04px 19.96px 0px var(--color-shadow-card-three);


    &.open {
        .arrow {
            transform: rotate(180deg);
        }
    }
}

.faq-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
    }
}

.faq-answer {
    margin-top: 12px;
}

.icon {
    display: flex;
    align-items: center;
}

.arrow {
    transition: transform 0.4s ease;
}