@use 'styles/helpers/mixins' as *;

.advantages-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;

        @include mobile {
            flex-direction: column;
        }
    }

    
}