.advantages-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}