.survay-section {
    display: flex;
    flex-direction: row;
    gap: 1.25em;   

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;
        border-radius: 26px;
        padding: 4em 1.25em;
        background-color: white;
        box-shadow: 
            0.91px 2.72px 6.35px 0px var(--color-shadow-card-first),
            3.63px 10.89px 11.79px 0px var(--color-shadow-card-first),
            8.16px 24.49px 15.42px 0px var(--color-shadow-card-second),
            14.51px 43.54px 18.14px 0px var(--color-shadow-card-three),
            21.77px 68.04px 19.96px 0px var(--color-shadow-card-three);

        &__up {
            display: flex;
            flex-direction: column;
            gap: 0.75em;
        }

        &__down {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        border-radius: 26px;
        padding: 1.875em 1.25em;
        background-color: white;
        box-shadow: 
            0.91px 2.72px 6.35px 0px var(--color-shadow-card-first),
            3.63px 10.89px 11.79px 0px var(--color-shadow-card-first),
            8.16px 24.49px 15.42px 0px var(--color-shadow-card-second),
            14.51px 43.54px 18.14px 0px var(--color-shadow-card-three),
            21.77px 68.04px 19.96px 0px var(--color-shadow-card-three);

        h3 {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start; // форма остается выровненной влево
            width: 100%;
        }
        
        label {
            color: #42494F;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0%;
            margin: 2px 0;
            font-weight: bold;
        }
        
        input {
            padding: 12px;
            margin-bottom: 10px;
            border: 1px solid #CED4DA;
            border-radius: 8px;
            background-color: #F8F9FA;
            width: 100%; // сохраняет ширину полей
        }
        
        .checkbox-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 1em;
        
            input {
                width: 20px;
                height: 20px;
                border: 1px solid #CED4DA;
                border-radius: 6px;
                background-color: white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s, border-color 0.3s;
        
                &:checked {
                    background-color: #276EF1;
                    border-color: #276EF1;
                }
        
                &:checked::before {
                    opacity: 1;
                }
            }
        
            label {
                font-size: 16px;
                font-weight: 500;
                color: #2B2D33;
            }
        }
       

    }
}